#resultContainer{
    /* To make it appear in the center of the screen*/
    position: absolute;
    width : 30vw;
    height : 50vh;

    /* Color */
    background-color: #1f2025;
    border: 3px solid #07080a;
    border-radius: 5%;
    
    /* To center the component in the middle of screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* To make the result appear "up" in the layers */
    z-index: 1;
}

#resultButton{
    position: fixed;
    width:8%;
    height: 10%;
    border-radius: 20%;
    top: 2%;
    right:2%;

    color:red;
    background-color: #353742;
    font-size: large;
    font-weight: bold;
}

